<header class="head__cabecera">
	<section class="top-nav">
		<div>
			<a href="../index.html">Portafolio</a>
		</div>
		<nav>
			<input id="menu-toggle" type="checkbox" />
			<label class="menu-button-container" for="menu-toggle">
				<div class="menu-button"></div>
			</label>
			<ul class="menu">
				<li><a href="#sobreMI">Sobre mi</a></li>
				<li><a href="#skill">Skill</a></li>
				<li><a href="#hobbies">Hobbies</a></li>
				<li><a href="#formacion">Formacion</a></li>
				<li><a href="#experiencia">Proyectos</a></li>
				<li><a href="#formulario">contacto</a></li>
			</ul>

		</nav>
	</section>

</header>